<!DOCTYPE html>
<html  lang="fr">

<head>
    <title>Bad or not bad</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!--header, menu-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
	<!-- la mise en page du site-->
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/init.js"></script>
    
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link href="assets/css/creative.min.css" rel="stylesheet"/>
</head>

	<body class="index loading">
	
		<!-- Header -->
			<header id="header" class="alt">
				<h1 id="logo"><a href="home.ejs">Bad or not bad</a></h1>
				<nav id="nav">
					<ul>
						<li class="submenu">
							<a href="">Menu</a>
							<ul>
								<li><a href="home.ejs">Acceuil</a></li>
								<li><a href="https://github.com/92bondstreet/javascript-empire">Javascript Empire</a></li>
								<li><a href="https://github.com/92bondstreet/carrez">About this workshop</a></li>
			
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>

			<section id="banner">

				<div class="inner">
					
					<header>
						<h2>Est-ce un bon plan ?</h2>
					</header>

		<form method = "get" action = "/process">

		
			<div>
			<input type = "text" class = "form-control" name ="lbcUrl" placeholder ="https://www.leboncoin.fr" style="Text-ALIGN:center">
			</div>
			
			<div>
				<button type = "submit" class="button fit scrolly"> Tell me </button>
			</div>

	</form>

		<%if (error == "No error") { %>
	
	<%if (data.deal.good) { %>
	<p> 
	Le logement de type
	<%=data.lbcData.type%> 

	 au prix de 
	<%=data.lbcData.price%> 

	 situé a
	<%=data.lbcData.city%> 

	
	(<%=data.lbcData.postalcode%> )


	mesurant
	<%=data.lbcData.surface%> 
	m²



	est un bon deal
	</p>
	
	<%} else {%>
	<p> 
	Le logement de type
	<%=data.lbcData.type%> 

	 au prix de 
	<%=data.lbcData.price%> 

	 situé a
	<%=data.lbcData.city%> 

	
	(<%=data.lbcData.postalcode%> )


	mesurant
	<%=data.lbcData.surface%> 
	m²



	est un mauvais deal
	</p>	

	<%}%>
	
	<%}else{%>
	
	<%=error%>
	
	<%}%>
	
				
				</div>
				
			</section>

				<footer>
              <center>
              <p class="footer-credit">Web application - WS3 - 3/03/2017</a></p>
          </center>
				</footer>
			</section>
	</body>
</html>